@media (max-width: 991px) and (min-width: 768px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9fb8127f-2976-a41b-37cb-a793a4a010a0"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="82e22a2a-0989-1f39-d358-437785a1b382"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d85f2e19-35de-5af7-923f-589f38cee6c3"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="231ccad6-e26d-69c3-fb04-42fcda60c5f1"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f2c61825-a05b-7641-0cde-035ada85c307"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="599056ed-6b8b-4f48-cfd6-1fde69504da8"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="5627e2b3-0448-9fde-2703-05cbcd8047de"] {
    display: block;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="5627e2b3-0448-9fde-2703-05cbcd8047e4"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d4"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2c8"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2ca"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2cc"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2ce"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d0"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2c6"] {
    display: block;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d2"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9fb8127f-2976-a41b-37cb-a793a4a010a0"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="82e22a2a-0989-1f39-d358-437785a1b382"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d85f2e19-35de-5af7-923f-589f38cee6c3"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="231ccad6-e26d-69c3-fb04-42fcda60c5f1"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f2c61825-a05b-7641-0cde-035ada85c307"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="599056ed-6b8b-4f48-cfd6-1fde69504da8"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="5627e2b3-0448-9fde-2703-05cbcd8047de"] {
    display: block;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="5627e2b3-0448-9fde-2703-05cbcd8047e4"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d4"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2c8"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2ca"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2cc"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2ce"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d0"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2c6"] {
    display: block;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d2"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }
}

@media (max-width: 479px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="35f2387b-b671-007e-a062-53c35c0b256c"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="99b6819e-ed04-1428-946c-4ed259e2cb16"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2b30d7bb-17b4-83ba-70a5-63fb47c399cd"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9f8fc640-f915-97a8-3fc6-b7c7835cf417"] {
    display: block;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f14b6ebf-0d96-4f63-f693-7d445bbcaf64"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9fb8127f-2976-a41b-37cb-a793a4a010a0"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="82e22a2a-0989-1f39-d358-437785a1b382"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d85f2e19-35de-5af7-923f-589f38cee6c3"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="231ccad6-e26d-69c3-fb04-42fcda60c5f1"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f2c61825-a05b-7641-0cde-035ada85c307"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="599056ed-6b8b-4f48-cfd6-1fde69504da8"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="5627e2b3-0448-9fde-2703-05cbcd8047de"] {
    display: block;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="5627e2b3-0448-9fde-2703-05cbcd8047e4"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d4"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2c8"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2ca"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2cc"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2ce"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d0"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2c6"] {
    display: block;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9793411e-020d-85d4-2fcd-d590cbc8d2d2"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }
}
.subnav {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-100%);
  z-index: 1000;
}

.header.hidden {
  opacity: 0;
  pointer-events: none;
}

.subnav.visible {
  transform: translateY(0);
}
